# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/
coverage/

# turbo
.turbo/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# prisma
apps/api/generated/

# misc
*.tsbuildinfo
